.item{
   
   width: 26rem;
   height: 20rem;
   color:  white ;
   background-color:  grey ;
   margin: 5px 0px ;
   position: relative;
   
}
.img{
   height: 10rem;
   width: 15rem;
}
.container{
   display: flex;
   flex-direction: column;
   align-items: stretch;
   
   align-items: center;
}
.cardText{
   font-size: 10px;
}
.btnPosition{
   position: absolute;
   top :17rem;
   left :8rem;
}
.item2{
   
   width: 38rem;
   height: 25rem;
   color:  white ;
   background-color:  grey ;
   margin: 9px 0px ;
   position: relative;
   
}