.nav-bg{
    background-color: black;
    height: 80px;
    
}
.logo{
    position: relative;
    left: 80px;
    top: 2px;
    }
    .about{
        color: white;
        position: relative;
        left: 900px;
        top: 2px;
        font-size: 18px;
    }
  
.dropbtn {
font-size: 18px;
    border: none;
    background-color: black;
    color: white;
  }
  
  
  .dropdown {
     position: relative;
        left: 930px;
        top: 2px;
        font-size: 19px;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  .contact{
    color: white;
    position: relative;
    left: 960px;
    top: 2px;
    font-size: 18px;
  }
.cart{
    color: white;
    position: relative;
    left: 990px;
    top: 2px;
    font-size: 18px;
}